
   <mat-toolbar color="primary" class="navbar">
    <span class="spacer"></span>
    @if(!getFromSessionStorage('token')) {
      <a mat-button routerLink="register" routerLinkActive="active">Sign Up</a>
      <a mat-button routerLink="login" routerLinkActive="active">Sign In</a>
    }
    <a mat-button routerLink="" routerLinkActive="active">Home</a>
    <a mat-button routerLink="courses" routerLinkActive="active">Courses</a>
    <a mat-button routerLink="courseManagement" routerLinkActive="active">Manager</a>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  