/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    background: url('assets/מסך-עם-קודים-כתובים-במטושטש-עם-רקע-כחול-כהה-1024x755.jpg')no-repeat center center fixed;
    background-size:cover ;
    background-position: center center;
    background-attachment: fixed;
  }
  
  main {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
