
   <div class="modal">
    <mat-card class="modal-card">
      <mat-card-header>
        <mat-card-title class="modal-title">➕ הוספת קורס חדש</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="modal-form">
          <div class="input-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label> שם הקורס:</mat-label>
              <input matInput type="text" [(ngModel)]="newCourse.title" name="title" placeholder="הכנס שם קורס">
            </mat-form-field>
          </div>
  
          <div class="input-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>תיאור הקורס:</mat-label>
              <textarea matInput [(ngModel)]="newCourse.description" name="description" placeholder="הכנס תיאור קורס"></textarea>
            </mat-form-field>
          </div>
  
          <div class="modal-actions">
            <button mat-raised-button color="primary" (click)="addCourse()">✅ שמירה</button>
            <button mat-stroked-button color="warn" (click)="close.emit()">❌ ביטול</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
